# Make it use C-a, similar to screen..
# unbind C-b
# set -g prefix C-a
# bind C-a send-prefix
# bind a last-window

# quickly switch to last window
#set-option -g prefix F10
#bind F10 last-window


# upgrade $TERM
set -g default-terminal "screen-256color"

# increase scrollback buffer size
set -g history-limit 50000
set -g base-index 1

# split panes using - and |
bind | split-window -h
bind - split-window -v
unbind '"'
unbind '%'

# reload config source
# source .tmux.conf as suggested in `man tmux`
bind R source-file ~/.tmux.conf \; display "Reloaded!"

# no delay for escape key press
# address vim mode switching delay (http://superuser.com/a/252717/65504)
set -sg escape-time 0

# tmux messages are displayed for 4 seconds
set -g display-time 4000

# shift arrow to switch windows
bind -n S-Left  previous-window
bind -n S-Right next-window

# automatically set window title
set-option -g allow-rename on
set-option -g set-titles on

# enable mouse control by default
set-option -g mouse on

# Rename window with ctrl a r
bind-key -r r command-prompt 'rename-window %%'

# focus events enabled for terminals that support them
set -g focus-events on

# super useful when using "grouped sessions" and multi-monitor setup
setw -g aggressive-resize on

##############
# status bar #
##############
# refresh 'status-left' and 'status-right' more often
set -g status-interval 5

set -g status-justify centre

# print user@hostname
set -g status-left-length 70
#set -g status-left '#[fg=green]#(whoami)@#H #[default] '

# left header
set -g status-left "#[fg=yellow]Local#(ifconfig | grep 'inet ' | \
grep -v 127.0.0.1 | awk '{printf \" \" $2}')"

# show session name, window & pane number, date and time on right side of
# status bar
set -g status-right-length 60
set -g status-right "#[fg=green]#(whoami)@#H #[fg=yellow]:: %d %b \
#[fg=green]::%l:%M %p :: #(date -u | awk '{print $4}')::"

#########
# THEME #
#########

# panes
set -g mode-style fg=brightred,bg=black,blink,underscore

# messaging
# set -g

# window mode
# set -g mode-style colour6

# loud or quiet
# set-option -g visual-activity off
# set-option -g visual-bell off

# tmux plugins
#########################
{% for plugin in tmux_plugins %}
{{ plugin }}
{% endfor %}

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
{{ "run '~/.tmux/plugins/tpm/tpm'" if tmux_plugin_manager else '' }}
